/*
!/deploy.sh
!/banner.png
!/README.md
!/.gitignore
!/LICENSE
!/requirements.txt
!/_config.yml
!_toc.yml
!/docs/
!/data/
!/images/
!/static/
!/notebooks/
!/scripts/
*.DS_Store
**/.ipynb_checkpoints
**/__pycache__
